body{
    background-color: antiquewhite;
    color: blue;
    text-align: justify;
    font-size: 30px;
}  

h1{
    background-color: black;
    color: floralwhite;
    text-align: center;
    font-size: 40px;